name: example
description: Example app demonstrating Hux UI components
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  hux:
    path: ../
  lucide_icons: ^0.257.0
  flutter_svg: ^2.0.10
  url_launcher: ^6.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true
  assets:
    - assets/ 

flutter_launcher_icons:
  android: true
  ios: true
  web:
    generate: true
    image_path: "assets/icon.png"
  windows:
    generate: true
    image_path: "assets/launcher.png"
  macos:
    generate: true
    image_path: "assets/launcher_mac.png"
  linux: true
  image_path: "assets/launcher.png"